APIModule/config.py
*.pyc
WeatherSiteDjango/main/__pycache__
WeatherSiteDjango/main/__pycache__/__init__.cpython-310.pyc
WeatherSiteDjango/main/__pycache__/admin.cpython-310.pyc
WeatherSiteDjango/main/__pycache__/apps.cpython-310.pyc
WeatherSiteDjango/main/__pycache__/main_urls.cpython-310.pyc
WeatherSiteDjango/main/__pycache__/models.cpython-310.pyc
WeatherSiteDjango/main/__pycache__/views.cpython-310.pyc
WeatherSiteDjango/main/migrations/__pycache__/__init__.cpython-310.pyc
WeatherSiteDjango/main/static/js/home.js
WeatherSiteDjango/WeatherSiteDjango/__pycache__/__init__.cpython-310.pyc
WeatherSiteDjango/WeatherSiteDjango/__pycache__/settings.cpython-310.pyc
WeatherSiteDjango/WeatherSiteDjango/__pycache__/urls.cpython-310.pyc
WeatherSiteDjango/WeatherSiteDjango/__pycache__/wsgi.cpython-310.pyc
*.pyc
